<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1"/>
  <title>Index</title>
  <link href="./style/common.css" rel="stylesheet" type="text/css"/>
  <link href="./style/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
  <div class="top_bar">
    <div class="_search">
      <div class="tb_item logo f_l">
        京东
      </div>
      <div class="tb_item search_box f_l">
        ssss
      </div>
      <div class="tb_item login f_l">
        登录
      </div>
    </div>
  </div>

  <div class="content">
    <div class="floor slider-wraper">

    </div>
    <div class="floor">

    </div>
  </div>
  <div class="tab_bar">
    <div class="tab_item">
      <span class="bar_img">
        首页
      </span>

    </div>
    <div class="tab_item">

      <span class="bar_img">
       分类
      </span>
    </div>
    <div class="tab_item">

      <span class="bar_img">
        发现
      </span>
    </div>

    <div class="tab_item">

      <span class="bar_img">
        购物车
      </span>
    </div>
    <div class="tab_item">

      <span class="bar_img">
        我的
      </span>
    </div>

  </div>
</div>
</body>
</html>
